/* Body */

/* Cursor https://css-tricks.com/almanac/properties/c/cursor/ */
body {
  background-color: #fefadb;
  cursor: url(../img/flower.png), auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Header */
body>header {
  display: block;
  width: 60%;
  height: 98px;
  margin: auto;
  margin-bottom: 100px;
}

body>header>h1 {
  z-index: 100;
  text-align: center;
  font-size: 7vw;
  max-width: 600px;
  margin: 10px auto;
  margin-top: 120px;

  /* Background clip */
  background-image: url("../img/125.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body>div>main {
  margin-top: 275px;
}

/* Titels soorten producten */
body>div>main>h2 {
  font-size: 30px;
  text-align: left;
  margin: 5% 0 0 10%;
  /* Background clip */
  background-image: url("../img/225.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body>div>main>h4 {
  font-size: 20px;
  text-align: left;
  margin: 0 0 0 10%;
}

/* Menu item */

body>div>main>div>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  min-width: 300px;
  min-height: 270px;
}

body>div>main>div>section>div> {
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10px;
}

body>div>main>div>[burger] {
  background-color: #f7ecad;
}

body>div>main>div>section>div>[svgburger] {
  height: 150px;
  width: 150px;
  margin-bottom: 0;
}

/* Titels menu items */
[burger]>div>h1 {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}

[burger]>div>p {
  font-size: 0.8em;
  text-align: center;
  max-width: 15em;
  margin: auto;
}

/* Scrollbar */
/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
body::-webkit-scrollbar {
  width: 1.5em;
  height: 100px;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background: #fefadb;
}

body::-webkit-scrollbar-thumb {
  background-color: #f7ecad;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 215, 102);
}

[svgburger] {
  fill: #f59a34;
}

/* Sun SVG */
[sun] {
  height: 50px;
  width: 50px;
  transform-origin: 50%;
  animation: sun 7s infinite linear;
}

@keyframes sun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* links */
[suns] :nth-of-type(1) {
  position: fixed;
  top: 5%;
  left: 1%;
}

[suns] :nth-of-type(2) {
  position: fixed;
  top: 25%;
  left: 1%;
}

[suns] :nth-of-type(3) {
  position: fixed;
  top: 45%;
  left: 1%;
}

[suns] :nth-of-type(4) {
  position: fixed;
  top: 65%;
  left: 1%;
}

[suns] :nth-of-type(5) {
  position: fixed;
  top: 85%;
  left: 1%;
}

/* rechts */
[suns] :nth-of-type(6) {
  position: fixed;
  top: 5%;
  right: 1%;
}

[suns] :nth-of-type(7) {
  position: fixed;
  top: 25%;
  right: 1%;
}

[suns] :nth-of-type(8) {
  position: fixed;
  top: 45%;
  right: 1%;
}

[suns] :nth-of-type(9) {
  position: fixed;
  top: 65%;
  right: 1%;
}

[suns] :nth-of-type(10) {
  position: fixed;
  top: 85%;
  right: 1%;
}

/* Moon SVG */
[moon] {
  height: 50px;
  width: 50px;
  transform-origin: 50%;
  animation: moon 7s infinite linear;
  display: none;
}

@keyframes moon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

[moons] :nth-of-type(1) {
  position: fixed;
  top: 5%;
  left: 1%;
}

[moons] :nth-of-type(2) {
  position: fixed;
  top: 25%;
  left: 1%;
}

[moons] :nth-of-type(3) {
  position: fixed;
  top: 45%;
  left: 1%;
}

[moons] :nth-of-type(4) {
  position: fixed;
  top: 65%;
  left: 1%;
}

[moons] :nth-of-type(5) {
  position: fixed;
  top: 85%;
  left: 1%;
}

/* rechts */
[moons] :nth-of-type(6) {
  position: fixed;
  top: 5%;
  right: 1%;
}

[moons] :nth-of-type(7) {
  position: fixed;
  top: 25%;
  right: 1%;
}

[moons] :nth-of-type(8) {
  position: fixed;
  top: 45%;
  right: 1%;
}

[moons] :nth-of-type(9) {
  position: fixed;
  top: 65%;
  right: 1%;
}

[moons] :nth-of-type(10) {
  position: fixed;
  top: 85%;
  right: 1%;
}

/* Switch button dark mode  */
/* https://codepen.io/AngelaVelasquez/pen/cihEG */

/* DAY STYLES*/

[the-container] {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
}

label {
  position: absolute;
  height: 50px;
  width: 200px;
  display: block;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  cursor: pointer;
  margin: 0 auto;
}

[switch] {
  display: block;
  position: relative;
  border-radius: 40px;
  background: #34a87c;
  box-shadow: inset 0 0 10px #888888;
  height: 40px;
  width: 100px;
  margin: 20px auto 30px auto;
}

[switch] [button] {
  display: block;
  position: absolute;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 100%;
  background: #48e8aa;
  height: 32px;
  width: 32px;
  top: 3px;
  left: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

[day-night-cont] {
  display: block;
  position: absolute;
  width: 240px;
  margin: 5px auto;
  left: 0;
  right: 0;
  top: 1px;
  bottom: 0;
  height: 40px;
  top: 15px;
}

[day-night-cont] [the-sun] {
  display: block;
  position: absolute;
  left: 5px;
  top: 0px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #ffe067;
  box-shadow: 0px 0px 10px #ffc41d;
}

[day-night-cont] [the-moon] {
  display: block;
  position: absolute;
  right: 5px;
  top: 0px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #ddd;
  box-shadow: 0px 0px 50px #ccc;
}

[day-night-cont] [the-moon] [moon-inside] {
  display: block;
  position: absolute;
  left: 0px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #ffffff;
}

/* TOGGLE */

[switch] [button] {
  transition: left 0.3s ease-in-out;
}

input[type="checkbox"]:checked~[switch] [button] {
  position: absolute;
  left: 63px;
}

[full-background] {
  position: absolute;
  width: 100%;
  height: 475%;
  top: 0;
  left: 0;
  z-index: -1;
}

input[type="checkbox"] {
  display: none;
}

/* Darkmode */
/* Check box hack
https://codepen.io/JiveDig/pen/jbdJXR/ */

input[type="checkbox"]:checked~[full-background] {
  background-color: #84aad8;
}

input[type="checkbox"]:checked~main [burger] {
  background-color: #afc2dd;
}

input[type="checkbox"]:checked~main [boards] {
  background-color: #afc2dd;
}

input[type="checkbox"]:checked~[suns] [sun] {
  display: none;
}

input[type="checkbox"]:checked~[moons] [moon] {
  display: block;
}

/* Responsive zonder mediaqueries */
[burgers] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 5%;
}

/* Blob */
/* Bron: https://css-tricks.com/blobs/ */
[blob] {
  /* Blend mode toegepast */
  fill: #ebaa59;
  animation: blob 10s ease-in-out infinite;
  transform-origin: 50% 50%;
  mix-blend-mode: lighten;
}

@keyframes blob {
  0% {
    transform: scale(0.8);
  }

  20% {
    transform: scale(0.9) translate(10px, 20px) rotate(40deg);
  }

  40% {
    transform: scale(0.6) rotate(-30deg);
  }

  60% {
    transform: scale(0.8) rotate(100deg);
  }

  80% {
    transform: scale(0.7) rotate(60deg);
  }

  100% {
    transform: scale(0.8) translate(10px, 20px);
  }
}

/* Random Blobs / Magic Randomisation */
/* https://www.lottejackson.com/learning/nth-child-cicada-principle
https://chrisruppel.com/blog/css-animation-border-radius/ */
[burger]:nth-child(1) {
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: itemBlob1 15s ease-in-out alternate infinite;
}

@keyframes itemBlob1 {

  0%,
  100% {
    border-radius: 77% 47% 61% 49%;
  }

  20% {
    border-radius: 89% 26% 70% 30%;
  }

  40% {
    border-radius: 56% 93% 56% 94%;
  }

  60% {
    border-radius: 68% 60% 94% 96%;
  }

  80% {
    border-radius: 34% 74% 59% 82%;
  }
}

[burger]:nth-child(2) {
  border-radius: 300px 600px 250px 850px / 250px 900px 650px 250px;
  animation: itemBlob2 5s ease-in-out alternate infinite;
}

@keyframes itemBlob2 {

  0%,
  100% {
    border-radius: 37% 66% 52% 77%;
  }

  20% {
    border-radius: 26% 70% 30% 70%;
  }

  40% {
    border-radius: 44% 99% 55% 56%;
  }

  60% {
    border-radius: 55% 79% 77% 94%;
  }

  80% {
    border-radius: 74% 33% 82% 65%;
  }
}

[burger]:nth-child(3) {
  border-radius: 500px 750px 340px 340px / 500px 640px 900px 900px;
  animation: itemBlob3 13s ease-in-out alternate infinite;
}

@keyframes itemBlob3 {

  0%,
  100% {
    border-radius: 88% 22% 62% 37%;
  }

  20% {
    border-radius: 66% 70% 90% 55%;
  }

  40% {
    border-radius: 44% 59% 55% 77%;
  }

  60% {
    border-radius: 55% 34% 77% 94%;
  }

  80% {
    border-radius: 74% 50% 24% 44%;
  }
}

[burger]:nth-child(4) {
  border-radius: 900px 450px 770px 230px / 230px 770px 900px 200px;
  animation: itemBlob4 5s ease-in-out alternate infinite;
}

@keyframes itemBlob4 {

  0%,
  100% {
    border-radius: 22% 55% 77% 43%;
  }

  20% {
    border-radius: 34% 66% 22% 44%;
  }

  40% {
    border-radius: 88% 90% 67% 70%;
  }

  60% {
    border-radius: 55% 55% 55% 55%;
  }

  80% {
    border-radius: 64% 50% 64% 44%;
  }
}

[burger]:nth-child(5) {
  border-radius: 420px 660px 900px 220px / 500px 640px 800px 500px;
  animation: itemBlob1 7s ease-in-out alternate infinite;
}

[burger]:nth-child(6) {
  border-radius: 500px 350px 340px 700px / 550px 240px 700px 800px;
  animation: itemBlob4 15s ease-in-out alternate infinite;
}

/* Flipping Cards Price */
/* Backface visibility
https://css-tricks.com/almanac/properties/b/backface-visibility/
https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/
https://codepen.io/j4rl/pen/jQrWME */
/* De defailt voor backface-visibility is visible */
:root {
  --time: 0.707s;
}

[burger] {
  transition: transform 1.5s;
  transform-style: preserve-3d;
  background-color: #f7ecad;
  transform-style: preserve-3d;
  transition: var(--time) transform;
}

[burger]:hover {
  transform: rotateY(-180deg);
}

[front],
[back] {
  backface-visibility: hidden;
}

[back] {
  transform: rotateY(-180deg);
}

[front]>[svgburger] {
  margin-top: 50%;
}

/* Boards Burger animation  */
[boards] {
  background-color: #f7ecad;
}

[boards]:nth-child(1) {
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: itemBlob1 15s ease-in-out alternate infinite;
}

@keyframes itemBlob1 {

  0%,
  100% {
    border-radius: 77% 47% 61% 49%;
  }

  20% {
    border-radius: 89% 26% 70% 30%;
  }

  40% {
    border-radius: 56% 93% 56% 94%;
  }

  60% {
    border-radius: 68% 60% 94% 96%;
  }

  80% {
    border-radius: 34% 74% 59% 82%;
  }
}

[boards]:nth-child(2) {
  border-radius: 300px 600px 250px 850px / 250px 900px 650px 250px;
  animation: itemBlob2 5s ease-in-out alternate infinite;
}

@keyframes itemBlob2 {

  0%,
  100% {
    border-radius: 37% 66% 52% 77%;
  }

  20% {
    border-radius: 26% 70% 30% 70%;
  }

  40% {
    border-radius: 44% 99% 55% 56%;
  }

  60% {
    border-radius: 55% 79% 77% 94%;
  }

  80% {
    border-radius: 74% 33% 82% 65%;
  }
}

[boards]:nth-child(3) {
  border-radius: 500px 750px 340px 340px / 500px 640px 900px 900px;
  animation: itemBlob3 13s ease-in-out alternate infinite;
}

@keyframes itemBlob3 {

  0%,
  100% {
    border-radius: 88% 22% 62% 37%;
  }

  20% {
    border-radius: 66% 70% 90% 55%;
  }

  40% {
    border-radius: 44% 59% 55% 77%;
  }

  60% {
    border-radius: 55% 34% 77% 94%;
  }

  80% {
    border-radius: 74% 50% 24% 44%;
  }
}

/* Burger Animation*/
/* https://css-tricks.com/almanac/properties/a/animation/ */
[svgburger] {
  fill: #f59a34;
  /* transition: 0.2s height; */
}

[boards] [svgburger]:hover {
  animation: move 1s backwards;
}

[burger]:hover [svgburger] {
  height: 0;
}

@keyframes move {
  0% {
    transform: rotate(0deg) translatey(0px);
  }

  50% {
    transform: rotate(15deg) translatey(-10px);
  }

  100% {
    transform: rotate(0deg) translatey(-30px);
  }
}

/* Titels menu items */
[boards]>div>h1 {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}

[boards]>div>p {
  font-size: 0.8em;
  text-align: center;
  max-width: 15em;
  margin: auto;
}